<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="routes.py" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="Python FlaskCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python3.11\python.exe|C:\Python\Python3.11\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\SEGURPRO\Flask_API" />
        <add key="WSGI_HANDLER" value="routes.app" />
    </appSettings>
</configuration>
